body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

.card-header {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 10px;
}

label {
    font-weight: bold;
    color: #555;
}

#resultado, #creditosAnteriores {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

h3 {
    color: #333;
}
